@model DocumentAnalyzerAPI.A.ViewModels.FileViewModel

<table id="file" class="table table-bordered table-hover">
    <thead>
        <tr class="">
            <th>Name</th>
            <th>Progress</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model.Files)
        {
            <tr style="height: 60px;">
                <td>@file.Name</td>
                <td>@file.Progress</td>
                <td>@file.URL</td>
            </tr>
        }
    </tbody>
</table>