@model DocumentAnalyzerAPI.A.ViewModels.EmployeeViewModel

<table id="employee" class="table table-bordered table-hover">
    <thead>
        <tr class="">
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Employees)
        {
            <tr style="height: 60px;">
                <td>@employee.Name</td>
            </tr>
        }
    </tbody>
</table>